{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "flowtype"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": false,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "useTabs": false,
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": false,
        "trailingComma": "all",
        "jsxBracketSameLine": false,
        "semi": false
      }
    ],
    "flowtype/no-types-missing-file-annotation": 0
  }
}