#debug {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: #f00;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proximanova/proximanovaAltRegular.eot");
  src: url("/assets/fonts/proximanova/proximanovaAltRegular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/proximanova/proximanovaAltRegular.woff") format("woff"),
    url("/assets/fonts/proximanova/proximanovaAltRegular.woff2") format("woff2"),
    url("/assets/fonts/proximanova/proximanovaAltRegular.ttf")
      format("truetype"),
    url("/assets/fonts/proximanova/proximanovaAltRegular.svg#svgFontName")
      format("svg");
}

body {
  font-family: "Proxima Nova", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

p {
  margin: 0;
}

#dovotori-app {
  background: linear-gradient(to left, #366a62 0%, #cddbbf 100%);
  box-shadow: inset 0 0 10px rgba(50, 102, 88, 0.5);
}

#splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  transition: opacity 1000ms ease-out;
}

#loader {
  position: relative;
  width: 40px;
  height: 10px;
}

#loader div {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: solid 1px #366;
  animation: loading 1s linear infinite;
}

#loader div:nth-of-type(1) {
  animation-delay: 0s;
}

#loader div:nth-of-type(2) {
  animation-delay: 0.5s;
}

#title {
  letter-spacing: 1em;
  font-size: 3em;
  text-shadow: 1px 1px 0 #000;
  transition: transform 1000ms ease-out, opacity 1000ms ease-out;
  opacity: 0;
  margin: 0 0 10px;
  transform: translateY(-100%);
}

#instructions {
  font-size: 1.6em;
  display: none;
  letter-spacing: 0.1em;
  animation: blink 1s linear infinite;
}

.commands {
  margin-top: 20px;
}

.command {
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 6px 0;
}

.command .key {
  display: inline-block;
  border: solid 1px #fff;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 1px 1px 0 #000;
  text-align: center;
}

.command .key svg {
  width: 8px;
  stroke: #fff;
  stroke-width: 2;
  fill: none;
}

.command .desc {
  display: inline-block;
  margin-left: 4px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: translateX(0) scale(0) rotateZ(45deg);
  }
  50% {
    transform: translateX(20px) scale(1) rotateZ(45deg);
  }
  100% {
    transform: translateX(40px) scale(0) rotateZ(45deg);
  }
}
